# SQL PROJECT


<span style="font-size:15px;"> Se analizarán 3 Datasets, respecto a crímenes y diversos aspectos sociales relacionados a la población de Chicago, Illinois, de Estados Unidos:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

**PASO 1:** Cargar las librerías `pandas` y `sqlite3` y establecer conexión con `FinalDB.db`

In [33]:
import pandas as pd, csv
import sqlite3
%load_ext sql
conn = sqlite3.connect('FinalDB.db')
cursor_obj = conn.cursor()
%sql sqlite:///FinalDB.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**PASO 2:**  Leer los datasets

In [70]:
# Leer los datos desde archivos CSV
census_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
chicago_schools_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
chicago_crime_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

# Cargar los DataFrames en la base de datos SQLite
census_df.to_sql('CHICAGO_CENSUS_DATA', conn, if_exists='replace', index=False)
chicago_schools_df.to_sql('CHICAGO_PUBLIC_SCHOOLS', conn, if_exists='replace', index=False)
chicago_crime_df.to_sql('CHICAGO_CRIME_DATA', conn, if_exists='replace', index=False)
print(len(chicago_crime_df))

533

## REQUESTS

### Request 1

<span style="font-size:15px;"> Encontrar el número total de crímenes registrados en la tabla CRIME

In [72]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(533,)]

### Request 2

<span style="font-size:15px;"> Listar los nombres y números de las áreas comunitarias con ingresos per cápita menores a 11000

In [74]:
%%sql
SELECT community_area_number, community_area_name FROM CHICAGO_CENSUS_DATA 
WHERE per_capita_income < 11000.0;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### Request 3

<span style="font-size:15px;"> Listar todos los números de caso para crímenes que involucran a menores (los niños no se consideran menores a efectos del análisis de crímenes)

In [89]:
%%sql
select
  id,
  case_number, 
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where
  description like '%minor%'

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(3987219, 'HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 (3266814, 'HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

### Request 4

<span style="font-size:15px;"> Listar todos los crímenes de SECUESTRO que involucren un niño

In [110]:
%%sql
select
  id,
  case_number, 
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where LOWER(primary_type) = "kidnapping" and description like '%child%';

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(5276766, 'HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Request 5

<span style="font-size:15px;"> Listar los tipos de crímenes que fueron registrados en escuelas (Sin repetir)

In [119]:
%%sql
select
  id,
  case_number, 
  primary_type,
  description,
  date,
  location_description
from
  CHICAGO_CRIME_DATA
where
  LOWER(Location_Description) like '%school%'

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(4006321, 'HL353697', 'BATTERY', 'SIMPLE', '2005-05-04', 'SCHOOL, PUBLIC, GROUNDS'),
 (4430638, 'HL725506', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', '2005-11-09', 'SCHOOL, PUBLIC, BUILDING'),
 (6644618, 'HP716225', 'BATTERY', 'SIMPLE', '2008-12-04', 'SCHOOL, PUBLIC, BUILDING'),
 (2341955, 'HH639427', 'BATTERY', 'SIMPLE', '2002-09-10', 'SCHOOL, PUBLIC, BUILDING'),
 (11110571, 'JA460432', 'BATTERY', 'SIMPLE', '2017-10-05', 'SCHOOL, PUBLIC, GROUNDS'),
 (7399281, 'HS200939', 'CRIMINAL DAMAGE', 'TO VEHICLE', '2010-03-10', 'SCHOOL, PUBLIC, GROUNDS'),
 (3530721, 'HK577020', 'NARCOTICS', 'POSS: HEROIN(WHITE)', '2004-08-23', 'SCHOOL, PUBLIC, GROUNDS'),
 (7502426, 'HS305355', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', '2010-05-13', 'SCHOOL, PUBLIC, BUILDING'),
 (8082600, 'HT315369', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', '2011-05-26', 'SCHOOL, PUBLIC, GROUNDS'),
 (7174283, 'HR585012', 'CRIMINAL TRESPASS', 'TO LAND', '2009-10-13', 'SCHOOL, PUBLIC, GROUNDS'),
 (2075734, 'HH292682', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', '2002-04-05', 'SCHOOL, PRIVATE, BUILDING'),
 (1806896, 'G635735', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', '2001-10-22', 'SCHOOL, PUBLIC, BUILDING')]

### Request 6

<span style="font-size:15px;"> Listar el tipo de escuelas, así como el puntaje promedio de seguridad (<code>AVG_Safety_Score</code>) para cada tipo

In [136]:
%%sql SELECT `Elementary, Middle, or High School`, AVG(safety_score) as AVG_Safety_Score
     from CHICAGO_PUBLIC_SCHOOLS
     group by `Elementary, Middle, or High School`

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

## Primer vistazo al dataset CHICAGO_CENSUS_DATA

In [149]:
%%sql 
SELECT * FROM CHICAGO_CENSUS_DATA LIMIT 5

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

### Request 7

<span style="font-size:15px;"> Listar 5 áreas comunitarias con el mayor porcentaje (%) de hogares por debajo de la línea de pobreza

In [153]:
%%sql 
SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CHICAGO_CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[('Riverdale', 54.0, 56.5),
 ('Fuller Park', 37.0, 51.2),
 ('Englewood', 68.0, 46.6),
 ('North Lawndale', 29.0, 43.1),
 ('East Garfield Park', 27.0, 42.4)]

In [164]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA LIMIT 2;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)')]

### Request 8

<span style="font-size:15px;"> Qué área comunitaria es la más propensa a crímenes? Muestre en pantalla sólamente el número del área comunitaria.

In [179]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER, COUNT(*) as Quantity FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY Quantity DESC nulls last limit 1;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(25.0, 43)]

In [177]:
%%sql
SELECT * FROM CHICAGO_CENSUS_DATA LIMIT 2;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0)]

### Request 9

<span style="font-size:15px;"> Usar un sub-query para encontrar el nombre del área comunitaria con mayor índice de dificultad (<code>HARDSHIP_INDEX</CODE>)

In [181]:
%%sql 

SELECT COMMUNITY_AREA_NAME, hardship_index 
FROM CHICAGO_CENSUS_DATA
WHERE hardship_index = (SELECT MAX(hardship_index) FROM CHICAGO_CENSUS_DATA)

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[('Riverdale', 98.0)]

In [184]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA LIMIT 2;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)')]

### Request 10

<span style="font-size:15px;"> Usar un sub-query para determinar el nombre del área comunitaria con el mayor número de crímenes

In [216]:
%%sql 
SELECT COMMUNITY_AREA_NAME FROM CHICAGO_CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC limit 1)
limit 1;

   sqlite:///CENSUSDATA.db
 * sqlite:///FinalDB.db
   sqlite:///socioeconomic.db
Done.

[('Austin',)]